:root {
  --primary-color: #446aaf;
  --secondary-color: #2747a1;
}


/* 
 * NAVBAR
*/

.navbar-options {
  background-color: var(--primary-color);
  width: 100%;
  height: 41px;
  display: flex;
  position: fixed;
  margin-top: 0px;
  align-items: center;
}

.navbar-options li {
  list-style: none;
  font-weight: 600;
}

.navbar-link {
  text-decoration: none;
  display: block;
  /* width: 100%; */
  height: 100%;
  padding: 10px 15px 10px 15px;
  /* the :hover selector relies on each Link's padding */
  /* I modified the padding on top/bottom to match the navbar size */
  /* This means technically the text is slightly off-center (by 1px) */
}

.navbar-options li:hover {
  background-color: var(--secondary-color);
}

.navbar-link:visited {
  color:white;
}

#logout-button {
  margin-left: auto;
  flex-shrink: 0;
}



/*
 * LOGIN
*/

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#login-box {
  border-style: solid;
  border-color: var(--primary-color);
  padding: 10px;
}

#login-box h3 {
  margin-top: 0;
}

.credential-box {
  margin: 10px;
}

#login-box button {
  margin-top: 10px;
}


/*
 * ACCOUNTS
*/
#accounts-page {
  margin: 15px 30px;
}

#account-list {
  list-style-type: none;
}

#account-list li {
  margin-top: 20px;
  border-style: solid;
  width: 50%;
  border-width: 2px;
  padding: 10px;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 30px;
}

.transaction-by-account-link {
  margin-left: auto;
  padding: 1px 5px;
  text-decoration: none;
  border-style: solid;
  border-color: var(--secondary-color);
  background-color: white;
  color: var(--primary-color);
}

.transaction-by-account-link:active {
  box-shadow: -5px 5px var(--secondary-color);
  transform: translateY(4px);
}

#account-create-form {
  padding: 0px 20px 20px 20px;
  border-style: solid;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: white;
  width: 882px;
  margin-left: 40px;
}

#account-create-form h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

#account-create-form label {
  font-weight: 500;
}

#account-create-form input {
  margin: 10px;
}

#account-create-form button {
  margin: 10px 0px 0px 10px;
  border: solid;
  border-width: 2px;
  border-color: var(--secondary-color);
  background-color: white;
  color: var(--primary-color);
}

#account-create-form button:active {
  box-shadow: -5px 5px var(--secondary-color);
  transform: translateY(4px);
}



/* 
 * TRANSACTIONS
*/

.transactions-page {
  margin: 15px 30px;
}

.transaction-list {
  list-style-type: none;
}

.transaction-list li {
  margin-top: 20px;
  border-style: solid;
  width: 50%;
  border-width: 2px;
  padding: 10px;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}

.transaction-list li p {
  margin: 5px;
}

/* 
 * TRANSFERS
*/

.transfer-page {
  margin: 15px 30px;
}

.transfer-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 400px;
}

.transfer-container div {
  border-style: solid;
  padding: 10px 40px 20px 40px;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  line-height: 25px;
}

.transfer-container div h3 {
  margin-bottom: 10px;
  margin-top: 10px;  
}

.transfer-forms button {
  margin-top: 10px;
  border: solid;
  border-width: 2px;
  border-color: var(--secondary-color);
  background-color: white;
  color: var(--primary-color);
}

.transfer-forms button:active {
  box-shadow: -5px 5px var(--secondary-color);
  transform: translateY(4px);
}